<h2>Notes</h2>
<%= link_to 'Add note', new_note_path(@note), :class => "btn btn-outline-primary btn-sm" %>
<hr>
<div class="row">
  <%@notes.each do |t|%>
    <div class ="col-sm">
      <div>
        <%="nickname: #{t.user.nickname}"%>
      </div>
      <div>
        <%="note: #{t.message}"%>
      </div>
      <td><%= link_to 'Show', note_path(t), :class => "btn btn-outline-primary btn-sm" %></td>
      <hr>
    </div>
  <%end%>
</div>