<h2>Show note</h2>
<hr>
<p>
  <strong>Nickname:</strong>
  <%= @note.user.nickname %>
</p>
<p>
  <strong>Text:</strong>
  <%= @note.message %>
</p>
<hr>
<%= link_to "Edit", edit_note_path(@note), :class => "btn btn-outline-primary btn-sm" %>
<%= link_to "Back", notes_path, :class => "btn btn-outline-primary btn-sm" %>