<h2>Urls</h2>
<%= link_to 'Add or change url', new_url_path(@url), :class => "btn btn-outline-primary btn-sm" %>
<hr>
<div class="row">
  <%@urls.each do |t|%>
    <div class ="col-sm">
      <div>
        <%=t.new_url%>
      </div>
      <div>
        <%="status: #{@status}"%>
      </div>
      <div>
        <%= link_to 'server status', urls_path, :class => "btn btn-outline-primary btn-sm" %>
      </div>
      <hr>
    </div>
  <%end%>
</div>
