<h1>Urls#index</h1>
<%= link_to 'Add or change url', new_url_path(@url)%>
<div class="row">
  <%@urls.each do |t|%>
    <div class ="col-sm">
      <div>
        <%=t.new_url%>
      </div>
    </div>
  <%end%>
</div>
