<h2>Urls</h2>
<%= link_to 'Add or change url', new_url_path(@url)%>
<div class="row">
  <%@urls.each do |t|%>
    <div class ="col-sm">
      <div>
        <%=t.new_url%>
      </div>
      <div>
        <%="status: #{@status}"%>
      </div>
      <div>
        <%= link_to 'server status', urls_path %>
      </div>
    </div>
  <%end%>
</div>
