<h2>Pizzas edit</h2>
<hr>
<%= render 'form' %>
<hr>
<%= link_to "Back", pizzas_path, :class => "btn btn-outline-primary btn-sm" %>
<%= link_to "Destroy", pizza_path(@pizza), method: :delete, :class => "btn btn-outline-primary btn-sm" %>