<h2>Your profile</h2>
<% if user_signed_in? %>
  <span>Hello, <%= current_user.nickname %></span>
  <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %> или <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
