<h2>Orders edit</h2>
<hr>
<%= render 'form' %>
<hr>
<%= link_to "Back", orders_path, :class => "btn btn-outline-primary btn-sm" %>
<%= link_to "Destroy", order_path(@order), method: :delete, :class => "btn btn-outline-primary btn-sm" %>

